<div class="bg-gray-900 text-white">
    <div class="flex" *ngIf="innerWidth === 1920 ">
        <div class="" *ngFor="let img of img | slice:0:10; let i=index">
            <div class="flex-row border-white border-2 ml-4 mt-12 rounded">
                <img class="img_display" src="../../../assets/img/{{ img }}.jpg"/>
            </div>
            <div class="flex justify-center">
                <div class="flex-blox">
                    <p class="text-lg text-purple-400"> {{title[i]}} </p>
                    <p class="text-sm"> {{author[i]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex" *ngIf="innerWidth < 1920 && innerWidth >= 1512">
        
        <div class="" *ngFor="let img of img | slice:0:8; let i=index">
            <div class="flex-row border-white border-2 ml-4 mt-12 rounded">
                <img class="img_display" src="../../../assets/img/{{ img }}.jpg"/>
            </div>
            <div class="flex justify-center">
                <div class="flex-blox">
                    <p class="text-lg text-purple-400"> {{title[i]}} </p>
                    <p class="text-sm"> {{author[i]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex" *ngIf="innerWidth < 1512 && innerWidth >= 1323" >
        <div class="" *ngFor="let img of img | slice:0:7; let i=index">
            <div class="flex-row border-white border-2 ml-4 mt-12 rounded">
                <img class="img_display" src="../../../assets/img/{{ img }}.jpg"/>
            </div>
            <div class="flex justify-center">
                <div class="flex-blox">
                    <p class="text-lg text-purple-400"> {{title[i]}} </p>
                    <p class="text-sm"> {{author[i]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex" *ngIf="innerWidth < 1323 && innerWidth >= 1138" >
        <div class="" *ngFor="let img of img | slice:0:6; let i=index">
            <div class="flex-row border-white border-2 ml-4 mt-12 rounded">
                <img class="img_display" src="../../../assets/img/{{ img }}.jpg"/>
            </div>
            <div class="flex justify-center">
                <div class="flex-blox">
                    <p class="text-lg text-purple-400"> {{title[i]}} </p>
                    <p class="text-sm"> {{author[i]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex" *ngIf="innerWidth < 1138 && innerWidth >= 952" >
        <div class="" *ngFor="let img of img | slice:0:5; let i=index">
            <div class="flex-row border-white border-2 ml-4 mt-12 rounded">
                <img class="img_display" src="../../../assets/img/{{ img }}.jpg"/>
            </div>
            <div class="flex justify-center">
                <div class="flex-blox">
                    <p class="text-lg text-purple-400"> {{title[i]}} </p>
                    <p class="text-sm"> {{author[i]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex" *ngIf="innerWidth < 952 && innerWidth >= 764" >
        <div class="" *ngFor="let img of img | slice:0:4; let i=index">
            <div class="flex-row border-white border-2 ml-4 mt-12 rounded">
                <img class="img_display" src="../../../assets/img/{{ img }}.jpg"/>
            </div>
            <div class="flex justify-center">
                <div class="flex-blox">
                    <p class="text-lg text-purple-400"> {{title[i]}} </p>
                    <p class="text-sm"> {{author[i]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex" *ngIf="innerWidth < 764 && innerWidth >= 579" >
        <div class="" *ngFor="let img of img | slice:0:3; let i=index">
            <div class="flex-row border-white border-2 ml-4 mt-12 rounded">
                <img class="img_display" src="../../../assets/img/{{ img }}.jpg"/>
            </div>
            <div class="flex justify-center">
                <div class="flex-blox">
                    <p class="text-lg text-purple-400"> {{title[i]}} </p>
                    <p class="text-sm"> {{author[i]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex" *ngIf="innerWidth < 579 && innerWidth >= 391" >
        <div class="" *ngFor="let img of img | slice:0:2; let i=index">
            <div class="flex-row border-white border-2 ml-4 mt-12 rounded">
                <img class="img_display" src="../../../assets/img/{{ img }}.jpg"/>
            </div>
            <div class="flex justify-center">
                <div class="flex-blox">
                    <p class="text-lg text-purple-400"> {{title[i]}} </p>
                    <p class="text-sm"> {{author[i]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex" *ngIf="innerWidth < 391" >
        <div class="" *ngFor="let img of img | slice:0:1; let i=index">
            <div class="flex-row border-white border-2 ml-4 mt-12 rounded">
                <img class="img_display" src="../../../assets/img/{{ img }}.jpg"/>
            </div>
            <div class="flex justify-center">
                <div class="flex-blox">
                    <p class="text-lg text-purple-400"> {{title[i]}} </p>
                    <p class="text-sm"> {{author[i]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
