
<div class="flex  h-screen items-center justify-center max-h-full">
    <form class="" action="" name="Log in">
        <div class="">
            <label class="">Email</label>
            <input class="ml-1 float-right" type="email"/>
        </div>
        <div class="mt-4">
            <label class="">Password</label>
            <input class="ml-1" type="password"/>
        </div>
        <div class="pt-5 ">
            <button class="border rounded-sm bg-white px-1" routerLink=""> Cancel </button>
            <input class=" bg-white float-right rounded-sm" type="submit" value=" Log in " /> 
        </div>
    </form>
</div>