<div class="bg-black h-screen">

    <div class="flex">
        <div class="flex-row border-white border-2 ml-4 mt-12 rounded">
            <img class="img_display" src="../../../assets/img/web.jpg"/>
        </div>

        <div class="flex-row border-white border-2 ml-4 mt-12 rounded">
            <img class="img_display" src="../../../assets/img/street with rain.jpeg"/>
        </div>  

        <div class="flex-row border-white border-2 ml-4 mt-12 rounded">
            <img class="img_display" src="../../../assets/img/1920.png"/>
        </div>

        <div class="flex-row border-white border-2 ml-4 mt-12 rounded">
            <img class="img_display" src="../../../assets/img/street with rain.jpeg"/>
        </div>

        <div class="flex-row border-white border-2 ml-4 mt-12 rounded">
            <img class="img_display" src="../../../assets/img/testing1.jpg"/>
        </div>

    </div>
    <button class="flex justify-center border-white border rounded text-white mt-3 mx-4 w-11/12"> View more </button>
    
</div>